﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <div class="jumbotron animated fadeIn" >
        <h1 class="text-center">Welcome to conference page</h1>
        <h3 class="text-center">Start by these suggestions</h3>
    </div>

<div class="animated rubberBand">
    <div class="col-sm-4 text-center well well-lg index-well">
        <h1 class="text-center glyphicon glyphicon-pencil color-blue-text"></h1>
        <h3> Create questions and tests </h3>
        <a class="btn btn-primary btn-lg shadow" href="/Questions">
            Create
        </a>
    </div>

    <div class="col-sm-4 text-center well well-lg index-well">
        <h1 class="text-center glyphicon glyphicon-blackboard color-blue-text"></h1>
        <h3> Start conference</h3>
        <a class="btn btn-primary btn-lg shadow" href="/Conference/SelectType">
            Create
        </a>
    </div>

    <div class="col-sm-4 text-center well well-lg index-well">
        <h1 class="text-center glyphicon glyphicon-user color-blue-text"></h1>
        <h3> Edit your account</h3>
        <a class="btn btn-primary btn-lg shadow" href="/Home/Preferences">
            Edit
        </a>
    </div>
</div>
