﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div ng-controller="authorizeController as ac" ng-init="ac.getCurrentUser()">
    <div class="well well-lg">
        <div class="form-group">
            <label>Conference key:</label>
            <input class="form-control" type="text" readonly ng-model="ac.user.conferenceKey" />
        </div>

        <div class="form-control btn btn-primary color-blue" ng-click="ac.newKey()">Get new key</div>

        <div class="form-group">
            <label>First name</label>
            <input class="form-control" type="text" ng-model="ac.user.firstName" />
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input class="form-control" type="text" ng-model="ac.user.lastName" />
        </div>

        <div class="form-group">
            <label>Occupation</label>
            <input class="form-control" type="text" ng-model="ac.user.occupation" />
        </div>

        <div class="form-group">
            <label>Biography</label>
            <div class="col-xs-12">
                <textarea ng-model="ac.user.biography" class="form-control" style="margin-bottom: 20px;"></textarea>
            </div>
        </div>

        <div class="form-control btn btn-primary color-blue" ng-click="ac.save()">Save details</div>

    </div>
</div>