﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="authorizeController as ac">

    <table ng-init="ac.getAllUsers()">
        <tr>
            <td>  User Name</td>
            <td>    User Register Date </td>

        </tr>
            <tr ng-repeat="user in ac.allUsers">
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.registerDate}}
                </td>

            </tr>
    </table>



</div>