﻿<div ng-controller="conferenceController as cc">
    <div ng-init="cc.checkForActive()">

        <div class=" jumbotron  text-center well well-lg animated fadeIn">
            <h1>{{cc.questionText}}</h1>
        </div>


    </div>



    <div ng-show="cc.currentState === 1">


        <div style="min-height: 15px;">
            <div class="col-xs-12 text-center" ng-show="cc.question.questionType == 0">
                Choose one answer
            </div>

            <div class="col-xs-12 text-center" ng-show="cc.question.questionType == 1">
                Choose one or more answers
            </div>

            <div class="col-xs-12 text-center" ng-show="cc.question.questionType == 2">
                Enter your answer
            </div>
        </div>



        <div ng-if="cc.question.questionType < 2">
            <div ng-repeat="ans in cc.question.questionAnswers">
                <div class="col-sm-6">
                    <div class="btn panel panel-heading answer-panel animated fadeInUp" style="display:block" ng-class="ans.selected?'selected':''"
                         ng-click="cc.selectAnswer(ans)">
                        {{ans.name}}
                    </div>
                </div>
               
            </div>
        </div>
        <div ng-if="cc.question.questionType == 2">
            <div class="col-xs-12">
                <textarea ng-model="cc.freeform" class="freeform-area form-control"></textarea>
            </div>
        </div>


        <div class="col-xs-12 text-center">
            <div class="btn btn-info submit shadow" ng-click="cc.submit()">
                Submit
            </div>
        </div>

    </div>

    <div ng-show="cc.gotResults">
        <h1>Results:</h1>


        <a ng-click="cc.nextType()" class="btn btn-primary btn-lg shadow pull-right">
            Next chart
        </a>

        <div style="width:60%; margin:auto">
            <canvas id="pie" class="chart-base" chart-type="cc.chartTypes[cc.chartType]" chart-legend="true" chart-data="cc.multipleData()?cc.mulData:cc.data" chart-labels="cc.labels"></canvas>
        </div>
    </div>

</div>