﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<span us-spinner="{radius:10, width:3, length: 8, color:'#5EA1CE'}"></span>

<div ng-hide="spinnerActive">
    <div class="jumbotron animated fadeIn">
        <h1 class="text-center">How to start conference?</h1>
    </div>

    <div ng-controller="conferenceController as cc">


        <div class="animated rubberBand" ng-init="">
            <div class="col-sm-6 text-center well well-lg index-well">
                <h1 class="text-center glyphicon glyphicon-question-sign color-blue-text"></h1>
                <h3> From existing question </h3>
                <a href="/Conference/SingleQuestion" class="btn btn-primary btn-lg shadow">
                    Start
                </a>
            </div>

            <div class="col-sm-6 text-center well well-lg index-well">
                <h1 class="text-center glyphicon glyphicon-pencil color-blue-text"></h1>
                <h3>From existing test </h3>
                <a href="/Conference/Test" class="btn btn-primary btn-lg shadow">
                    Start
                </a>
            </div>

        </div>

    </div>
</div>