﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />

</head>
<body ng-app="confe">
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <div class="navbar-collapse collapse" ng-controller="authorizeController as ac">
                <ul class="nav navbar-nav navbar-right" ng-init="ac.getCurrentUser()">

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> {{ac.user.email}} <span class="caret"></span>
                        </a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a ng-click="ac.logout(true)" href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /container -->
    </div>

    <span us-spinner="{radius:10, width:3, length: 8, color:'#5EA1CE'}"></span>

    <div class="container body-content" ng-hide="spinnerActive">
        @RenderBody()
    </div>

    <div class="row">


    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/AngularControllers/angular-spinner.js"></script>

    <script src="~/Scripts/AngularControllers/app.js"></script>
    <script src="~/Scripts/AngularControllers/spinner.js"></script>
    <script src="~/Scripts/AngularControllers/authorizeController.js"></script>
    <script src="~/Scripts/AngularControllers/authInterceptor.js"></script>
    <script src="~/Scripts/AngularControllers/questionsController.js"></script>


</body>
</html>
