﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/Content/angular-chart.css" rel="stylesheet" />

</head>
<body ng-app="confe" ng-cloak>
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="navigation" ng-controller="authorizeController as ac">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Preferences">Account preferences</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Question management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Questions">My questions</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Questions/New">Create new</a></li>
                        </ul>
                    </li>

                    <li><a href="/Conference/SelectType">Conference</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right" ng-init="ac.getCurrentUser()">

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> {{ac.user.email}} <span class="caret"></span>
                        </a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a ng-click="ac.logout(true)" href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                        </ul>
                    </li>

                </ul>

            </div>

        </div><!-- /container -->
    </div>
  
  

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="row">


    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/AngularControllers/angular-spinner.js"></script>

    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/angular-chart.js"></script>


    <script src="~/Scripts/AngularControllers/app.js"></script>
    <script src="~/Scripts/AngularControllers/spinner.js"></script>
    <script src="~/Scripts/AngularControllers/authorizeController.js"></script>
    <script src="~/Scripts/AngularControllers/authInterceptor.js"></script>
    <script src="~/Scripts/AngularControllers/questionsController.js"></script>
    <script src="~/Scripts/AngularControllers/conferenceController.js"></script>
</body>
</html>
