﻿@{
    ViewBag.Title = "Conference";
}

<div ng-controller="conferenceController as cc">

    <div class="col-sm-12 text-center well well-lg animated fadeIn" ng-init="cc.getCurrentUser()">
        <h3>Conference key: <strong>{{cc.user.conferenceKey}}</strong></h3>
    </div>
    <div class="col-sm-12 text-center well well-lg animated fadeIn" ng-init="cc.getAllQuestions(); cc.getAllTests(); cc.getDefaults()" ng-show="cc.currentStateUser == 0">
        <h3> Conference preferences: </h3>
        <div class="col-sm-4">
            <h4>Time for each question</h4>
            <div class="form-group">
                <input class="form-control text-center seconds-input" type="number" ng-model="cc.userDefaults.defaultConferenceTime" />
                seconds
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Show results for participants?</h4>
            <input type="checkbox" ng-model="cc.userDefaults.showResultsForParticipants" />
        </div>
        <div class="col-sm-4">
            @if (ViewBag.Mode == "Single")
            {
                <h4>Select question</h4>
                <div class="form-group">
                    <select class="form-horizontal comboBox" ng-model="cc.selectedQuestion" ng-options="item as item.questionName for item in cc.questions track by item.id"></select>
                </div>
            }
            else
            {
                <h4>Select test</h4>
                <div class="form-group">
                    <select class="form-horizontal comboBox" ng-model="cc.selectedTest" ng-options="item as item.name for item in cc.tests track by item.id"></select>
                </div>
            }
        </div>
        <div class="col-xs-12">
            @if (ViewBag.Mode == "Single")
            {
                <a ng-click="cc.start(true)" class="btn btn-primary btn-lg shadow">
                    Start
                </a>
            }
            else
            {
                <a ng-click="cc.start(false)" class="btn btn-primary btn-lg shadow">
                    Start
                </a>
            }
        </div>
    </div>


    <div ng-show="cc.currentStateUser == 1 && !cc.stopped">

        <div class=" jumbotron  text-center well well-lg animated fadeIn">
            <h1>{{cc.question.questionName}}</h1>
        </div>
        <div class="col-sm-6">
            <div class="col-xs-6 counter-text">Time left:</div>
            <div class="col-xs-6">
                <div class="badge counter">
                    {{cc.userDefaults.defaultConferenceTime}}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="col-xs-6 counter-text">Answers:</div>
            <div class="col-xs-6 ">
                <div class="badge counter-green">
                    {{cc.gotAnswers}}
                </div>
            </div>
        </div>

        <div class="col-xs-12  text-center">
            <a ng-click="cc.stopTimer()" class="btn btn-primary btn-lg shadow">
                Stop timer
            </a>
        </div>

    </div>



    <div ng-show="cc.currentStateUser == 1 &&cc.stopped ">
        <h1> Processing data...</h1>

    </div>

    <div ng-show="cc.currentStateUser == 2 &&cc.stopped">

        <h1>Results:</h1>


        <a ng-click="cc.nextType()" class="btn btn-primary btn-lg shadow pull-right">
            Next chart
        </a>

        <div style="width:60%; margin:auto">
            <canvas id="pie" class="chart-base" chart-type="cc.chartTypes[cc.chartType]" chart-legend="true" chart-data="cc.multipleData()?cc.mulData:cc.data" chart-labels="cc.labels"></canvas>
        </div>

        <div class="col-xs-12  text-center">
            @if (ViewBag.Mode == "Single")
            {
                <a ng-click="cc.reset()" class="btn btn-primary btn-lg shadow">
                    Next question
                </a>
            }
            else
            {
                <a ng-click="cc.nextQuestionInTest()" class="btn btn-primary btn-lg shadow">
                    Next question
                </a>
            }


        </div>

    </div>

</div>
