﻿<div class="panel panel-default animated fadeIn" ng-controller="questionsController as qc">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="glyphicon glyphicon-question-sign pull-right"></i>
            <h4>Create new question</h4>
        </div>
    </div>

    <div class="panel-body">


        <div class="form-group space-15" style="overflow:hidden">
            <label class="toLeft">
                Question text:
            </label>
            <div class="col-xs-12">
                <textarea ng-model="qc.question.questionName" class="questionArea form-control toLeft"></textarea>
            </div>
        </div>

        @if(ViewBag.Mode == "Edit"){
            <div ng-init="qc.getQuestion(@ViewBag.Id)"></div>
        }

        <div class="form-group">
            <label class="toLeft">Question type: </label>
            <select class="form-horizontal comboBox" ng-model="qc.question.questionType">
                <option ng-repeat="opt in qc.questionTypes">{{opt}}</option>
            </select>
        </div>

        <div ng-hide="qc.question.questionType == 'Freeform answer'">
            <label class="toLeft">Available answers: </label>

            <div class="col-xs-12 space-15  fast-animation animated zoomInLeft" ng-repeat="q in qc.question.questionAnswers track by $index">
                <div class="btn-group btn-group-lg col-xs-6">
                    <div class="toLeft btn btn-outline btn-primary answer-index col-xs-1">
                        <strong class="text-center">{{$index+1}}</strong>
                    </div>
                    <div class="btn  btn-outline answer-create col-xs-9">
                        <input type="text" class="form-control" ng-model="q.name" />
                    </div>

                    <div class="btn btn-danger col-xs-1 glyphicon glyphicon-remove answer-index text-center"
                         style="padding-left:12px" ng-click="qc.removeAnswer($index)">
                    </div>

                </div>
            </div>
            <form>
                <div class="toLeft space-15 btn btn-info shadow createNew" ng-click="qc.addAnswer()"> Add an answer </div>
            </form>
        </div>

        <div class="space-20 panel-footer col-xs-12">
            <div class="btn btn-info outline shadow createNew col-sm-2" ng-click="qc.backToMenu()"> Back to menu </div>
            @if (ViewBag.Mode == "Edit")
            {
                <div class="btn btn-info shadow createNew col-sm-2" ng-click="qc.editQuestion(@ViewBag.Id)"> Update question </div>
            }
            else
            {
                <div class="btn btn-info shadow createNew col-sm-2" ng-click="qc.saveQuestion()"> Save question </div>
            }
          
        </div>

    </div>
</div>
