﻿<div class="panel panel-default animated fadeIn" ng-controller="questionsController as qc" ng-init="qc.testId = @ViewBag.Id">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="glyphicon glyphicon-question-sign pull-right"></i>
            <h4>Create new test</h4>
        </div>
    </div>

    <div class="panel-body">

        <div class="col-sm-6">
            <div class="form-group space-15" style="overflow:hidden">
                <label class="toLeft">
                    Test name:
                </label>
                <div class="col-xs-12">
                    <textarea ng-model="qc.test.name" class="questionArea form-control toLeft"></textarea>
                </div>
            </div>
            @if (ViewBag.Mode == "New")
            {
                <div class="space-15 col-xs-12">
                    <label class="toLeft">Save test name to add questions </label>
                </div>
            }


            @if (ViewBag.Mode == "Edit")
            {
                <div ng-hide="qc.question.questionType == 'Freeform answer'">
                    <label class="toLeft">Add questions to this test: </label>

                    <div ng-init="qc.getTest(@ViewBag.Id); qc.getAllQuestions()"></div>

                    <div class="list-group">
                        <a ng-repeat="q in qc.questions" ng-click="qc.selectQuestionToAdd(q.id)" ng-class="(q.id===qc.questionToAdd)?'active':''"
                           class="list-group-item" style="cursor:pointer">{{q.questionName}}</a>
                    </div>

                    <form>
                        <div class="toLeft space-15 btn btn-info shadow createNew" ng-click="qc.addToTest(@ViewBag.Id)">Add</div>
                    </form>
                </div>
            }
        </div>

        @if (ViewBag.Mode == "Edit")
        {
            <div class="space-15 col-sm-6">
                <label class="toLeft">Questions in this test: </label>

                <div class="list-group">
                    <a ng-repeat="q in qc.test.questions" class="list-group-item" style="cursor:pointer">
                        {{q.questionName}}
                        <span class="btn btn-danger col-xs-1 glyphicon glyphicon-remove text-center"
                             style="padding:0px; float:right" ng-click="qc.removeQuestionFromTest(q.id)">
                        </span>

                    </a>
                </div>


            </div>





        }

        <div class="space-20 panel-footer col-xs-12">
            <div class="btn btn-info outline shadow createNew col-sm-2" ng-click="qc.backToMenu()"> Back to menu </div>
            @if (ViewBag.Mode == "Edit")
            {
                <div class="btn btn-info shadow createNew col-sm-2" ng-click="qc.updateTest()"> Update question </div>
            }
            else
            {
                <div class="btn btn-info shadow createNew col-sm-2" ng-click="qc.saveTest()"> Save question </div>
            }

        </div>

    </div>
</div>
