﻿<div ng-controller="conferenceController as cc" ng-init="cc.getHistory(@ViewBag.Id)">


    <a ng-click="cc.backToMenu()" class="btn btn-primary btn-lg shadow">
        Back to menu
    </a>

    <div class=" jumbotron  text-center well well-lg animated fadeIn">
        <h1>{{cc.question.questionName}}</h1>
    </div>


    <a ng-click="cc.nextType()" class="btn btn-primary btn-lg shadow pull-right">
        Next chart
    </a>

    <div style="width:60%; margin:auto">
        <canvas id="pie" class="chart-base" chart-type="cc.chartTypes[cc.chartType]" chart-legend="true" chart-data="cc.multipleData()?cc.mulData:cc.data" chart-labels="cc.labels"></canvas>
    </div>

    <div class="col-xs-12  text-center">
        <h3>Last asked: <strong>{{cc.question.lastAsked | date:'medium'}}</strong></h3>
        <h3>Total answers: <strong>{{cc.question.totalAnswers}}</strong></h3>
    </div>

    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Answer
                    </th>
                    <th>
                        Times
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ans in cc.question.questionAnswers">
                    <td>
                        {{ans.name}}
                    </td>
                    <td>
                        {{ans.totalAnswersCount}}
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
