﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div ng-controller="questionsController as qc">




    <div ng-hide="spinnerActive">
        <div class="col-sm-6" ng-init="qc.getAllQuestions()">
            <div class="panel panel-default animated fadeIn">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="glyphicon glyphicon-question-sign pull-right"></i>
                        <h4>My questions</h4>
                    </div>
                </div>
                <div class="panel-body">



                    <div class="row space-15 col-xs-12" style="padding-right:0px" ng-repeat="q in qc.questions">


                        <div class="row col-xs-12" style="padding-right:0px">
                            <div class="questionList btn  btn-outline col-xs-12 shadow">
                                <div class="col-sm-8">
                                    <div class="question-name">
                                        {{q.questionName}}
                                    </div>
                                    <div>
                                        <span class="span-info">{{qc.questionTypes[q.questionType]}}</span>
                                    </div>
                                    <div>
                                        Posible answers:<span class="span-info">{{q.answerCount}}</span>
                                    </div>
                                    <div>
                                        Asked times:<span class="span-info">0</span>
                                    </div>
                                    <div>
                                        Last asked:<span class="span-info">{{q.lastAsked | date:'medium'}}</span>
                                    </div>
                                    <div>
                                        Answers obtained:<span class="span-info">{{q.totalAnswers}}</span>
                                    </div>

                                </div>
                                <div class="col-sm-4 no-margin">
                                    <div class="questionEdit btn btn-primary color-blue col-xs-12 border-none" ng-click="qc.goToEdit(q.id)">
                                        Edit <span class="glyphicon glyphicon-edit"></span>
                                    </div>
                                    <div class="questionEdit btn btn-success col-xs-12 border-none" ng-click="qc.goToHistory(q.id)">
                                        History <span class="glyphicon glyphicon-time"></span>
                                    </div>
                                    <div class="questionEdit btn btn-danger col-xs-12 border-none" ng-click="qc.confirmDeletion(qc.deleteQuestion, q.id)">
                                        Remove <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="btn btn-info shadow createNew space-20" ng-click="qc.goToNew()"> CreateNew </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default animated fadeIn">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="glyphicon glyphicon-pencil pull-right"></i>
                        <h4>My tests</h4>
                    </div>
                </div>
                <div class="panel-body" ng-init="qc.getAllTests()">
                    <div class="row space-15 col-xs-12" style="padding-right:0px" ng-repeat="t in qc.tests">


                        <div class="row col-xs-12" style="padding-right:0px">
                            <div class="questionList btn  btn-outline col-xs-12 shadow">
                                <div class="col-sm-8">
                                    <div class="question-name">
                                        {{t.name}}
                                    </div>
                                    <div>
                                        Total questions:<span class="span-info">{{t.questionCount}}</span>
                                    </div>
                                </div>

                                <div class="col-sm-4 no-margin">
                                    <div class="questionEdit btn btn-primary color-blue col-xs-12 border-none" ng-click="qc.goToEditTest(t.id)">
                                        Edit <span class="glyphicon glyphicon-edit"></span>
                                    </div>
                                    <div class="questionEdit btn btn-danger col-xs-12 border-none" ng-click="qc.confirmDeletion(qc.deleteTest, t.id)">
                                        Remove <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="btn btn-info shadow createNew space-20" ng-click="qc.goToNewTest()"> CreateNew </div>

                </div>
            </div>
        </div>
    </div>
</div>