﻿body {
    padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /* max-width: 280px;*/
}

.navbar {
    box-shadow: 0px 5px 5px grey;
}

.shadow {
    box-shadow: 0px 5px 5px grey;
}

.color-blue {
    background-color: #5EA1CE;
    color: white;
}

.color-blue-text {
    color: #5EA1CE;
    text-shadow:0px 10px 10px rgba(51, 122, 183, 0.54)
}

.seconds-input{
    max-width:100px;
    margin:auto;
}


.counter{
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #5EA1CE;
    border-radius: 50%;
    padding: 30px;
    margin:auto;
    display:inline-block;
    font-size:70px;
    width:136px;
}

.answer-panel{
   text-align: center;
    margin: auto;
    background-color: #F5F5F5;
    border-color: #5EA1CE;
    font-size: 20px;
    border-radius: 50px;
    border-width: 2px;
    margin-top:30px;
    box-shadow: 0px 5px 5px grey;
}

.selected{
    background-color:#92DEAC;
    border-color:#43883F;
}


.freeform-area{
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

.submit{
    margin: auto;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 50px;
    padding: 18px;
    background-color:#5EA1CE;
}

.answer-panel:hover{
    background-color: #D5FBE2;
    cursor:pointer;
}

.answer-panel:focus{
    background-color: #D5FBE2;
    cursor:pointer;
    box-shadow: none!important;
}


.counter-text{
  font-size: 41px;
    font-weight: 900;
    margin-top: 33px;

}

.counter-green{
        color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #5CB85C;
    border-radius: 50%;
    padding: 30px;
    margin:auto;
    display:inline-block;
    font-size:70px;
        width:136px;
}






.space-20 {
    margin-top: 20px;
}


.space-15 {
    margin-top: 10px;
}

.toLeft {
    margin-left: 15px;
}

.createNew {
    border-radius: 10px;
    font-size:8pt;
    font-weight:bold;
    text-emphasis:circle;
    background-color: #5EA1CE;
    border:none;
}

.createNew:hover {
    background-color:#2e6da4;
}

.animated .fast-animation{
 -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}


.infoPanel{
    background-color: #5BC0DE;
    color: white;   
    
}

.index-well{
   height:250px;
}

.border-bottom{
    border:none;
    border-bottom:solid;
}

.questionArea{
      width:50%;
}

.textWhite{
    color:white;
}

.comboBox {
    border: none;
    border-bottom: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-color: #5BC0DE;
    color: #5EA1CE;
    font-weight: bold;
    -webkit-appearance: none;
    background: url('Images/arrow.png') no-repeat;
    background-position:175px 0px;
    background-size:20px;
    width:200px;
}




.answer-index{
    height:57px;
    top:0px;
    padding-left:0px;
}

.outline{
    background-color:white;
    border-color: #5EA1CE;
    color:black;
}

.outline>hover{
      color:red;
}

.answer-create{
    background-color:white;
    border-color: #5EA1CE;
    height:57px;
}

.border-none{
  border:none;
}

.questionList{
    text-align:left;   
    background-color:transparent;
    color:black;
}

.questionEdit{
    text-align:center;   
}

.question-name{
    font-size:18px;
    margin-top:5px;
}

.span-info{
    color:#5EA1CE;
    font-weight:bold;
    margin-left:5px;

}

.no-margin{
    margin:0px;
    padding:0px;
}