﻿<div class="col-sm-offset-3 col-sm-6" ng-controller="authorizeController as ac">

    <span us-spinner="{radius:10, width:3, length: 8, color:'#5EA1CE'}"></span>

    <div class="panel panel-default animated fadeIn" ng-hide="spinnerActive">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="glyphicon glyphicon-user pull-right"></i>
                <h1>Admin</h1>
                <h4>Log in</h4>
            </div>
        </div>
        <div class="panel-body">

            <form class="form form-vertical">
                <div class="control-group">
                    <label>Email</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="ac.loginModel.Email" placeholder="Enter email">
                    </div>
                </div>
                <div class="control-group">
                    <label>Pasword</label>
                    <div class="controls">
                        <input type="password" class="form-control" ng-model="ac.loginModel.Password" placeholder="Enter password">
                    </div>
                </div>

                <button type="button" ng-click="ac.login(true)" class="btn btn-primary space-20 color-blue"> Log in </button>

                <div class="row space-20 toLeft">
                    <small>Not an admin? <a href="/Authorize/Login">Login as user</a></small>
                </div>


            </form>
        </div>
    </div>
</div>
<div class="row">

</div>


