﻿<div class="col-sm-offset-3 col-sm-6" ng-controller="authorizeController as ac">
    <div class="panel panel-default animated fadeIn">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="glyphicon glyphicon-user pull-right"></i>
                <h4>Log in</h4>
            </div>
        </div>
        <div class="panel-body">

            <form class="form form-vertical">
                <div class="control-group">
                    <label>Email</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="ac.loginModel.Email" placeholder="Enter email">
                    </div>
                </div>
                <div class="control-group">
                    <label>Pasword</label>
                    <div class="controls">
                        <input type="password" class="form-control" ng-model="ac.loginModel.Password" placeholder="Enter password">
                    </div>
                </div>

                <button type="button" ng-click="ac.login(false)" class="btn btn-primary space-20 color-blue"> Log in </button>

                <div class="row space-20 toLeft">
                    <small>Don't have an account? <a href="/Authorize/Register">Register</a></small>
                </div>



                <hr />
                <h3> Or </h3>

                <div class="control-group">
                    <label>Enter conference key</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="ac.conferenceKey" placeholder="Enter key">
                    </div>
                </div>

                <button ng-click="ac.enterConference()" class="btn btn-primary space-20 color-blue">Start </button>


            </form>
        </div>
    </div>
</div>
<div class="row">

</div>
            