﻿<div class="col-sm-offset-3 col-sm-6">

    <span us-spinner="{radius:10, width:3, length: 8, color:'#5EA1CE'}"></span>

    <div class="panel panel-default  animated fadeIn" ng-hide="spinnerActive">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="glyphicon glyphicon-user pull-right "></i>
                <h4>Register</h4>
            </div>
        </div>
        <div class="panel-body" ng-controller="authorizeController as ac">

            <form class="form form-vertical">
                <div class="control-group">
                    <label>Email</label>
                    <div class="controls">
                        <input ng-model="ac.loginModel.Email" type="text" class="form-control" placeholder="Enter email">
                    </div>
                </div>
                <div class="control-group">
                    <label>Pasword</label>
                    <div class="controls">
                        <input ng-model="ac.loginModel.Password" type="password" class="form-control" placeholder="Enter password">
                    </div>
                </div>

                <div class="control-group">
                    <label>Repeat password</label>
                    <div class="controls">
                        <input ng-model="ac.loginModel.ConfirmPassword" type="password" class="form-control" placeholder="Enter password">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary space-20 color-blue" ng-click="ac.register()">Register</button>
                <div class="row space-20 toLeft">
                    <small>Have an account? <a href="/Authorize/Login">Login</a></small>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">

</div>
